# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Development tools caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDE & OS
.idea/
.DS_Store
